body{
    background-color:rgb(114, 109, 109);
}

img{
    width: 100px;
    height: 100px;
}

/*titles*/
#title, .subtitle, .posttitle{
    color: blue;

}

.posttitle{
    font-size: 16px;
    font-style:italic;
}
/*cards post*/
.pheader, .pheader2, .pheader3{
    text-align: center;
    width: 400px;
    height: 400px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    
}
.pheader2{
    margin-left: 500px;
    margin-top: -27.8rem;
}

.post{
    padding: 10px;
    margin: 10px;
}
/**/
section{
    margin:auto;
    background-color: white;
    padding: 15px;
    width: 1000px;
    border-radius: 10px;

}

.title_header{
    text-align: center;
    list

}

/*footer*/

footer{
    background-color:grey;

}
.contacts_list{
    list-style-type: none;
    padding-left: 0;
}