body{
    background-color:rgb(247, 247, 247);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#imagep{
    width: 300px;
    border-radius: 5px 5px 0 0;
    
    
}

/*titles*/
#title, .subtitle, .posttitle{
    color: blue;

}
.subtitle{
    text-align: center;
}
.posttitle{
    font-size: 16px;
    font-style:italic;
}
/*cards post*/
.post{
    width: 300px;
    height: 400px;
    perspective: 1000px;
    padding: 15px;
    display:inline-block;
    
    
}
.pheader{
    position: relative;
}
.pheader{ 
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0, 0 ,0, 0.5);
    transition: transform 0.9s;
    transform-style: preserve-3d ;
}
.post:hover .pheader{
    transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.back{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    transform: rotateY(180deg);
}
.front{
    text-align: center;
}

/**/
section{
    margin:auto;
    background-color: white;
    padding: 15px;
    width: 1000px;
    
    border-radius: 10px;

}

.title_header{
    text-align: center;

}

/*footer*/

footer{
    

}
.contacts_list{
    list-style-type: none;
    padding-left: 0;
}