@media screen and (max-width:500px){
    header .header-container{
        display: flex;
        flex-direction: column;
        

    }
    .main-button{
        margin-top:5px;
        width: 190px;
        
    }

}

@media screen and (min-width:1000px){
    .header-description{
        width: 50%;
    }
}